.logout {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  width: 100%;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 0.568);
  height: 100%;
  font-family: math;
}

::selection {
  background-color: gray;
}

.containerL {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.7rem;
  /* background-color: rgb(27, 27, 27); */

}

.containerL .form-L {
  width: 450px;
  height: 620px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem .7rem .7rem .7rem;
  color: black;
  /* box-shadow: 1px 1px 4px rgb(180, 177, 177), -1px -1px 4px rgb(180, 177, 177); */
  position: relative;
  box-shadow: inset -9px -6px 10px rgb(234, 232, 232),
  inset -2px -2px 10px rgb(234, 232, 232);

}


.containerL .form-L::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 23px;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: url('../img/bagWhat2.jpeg') 61% center/185% no-repeat;
}


.logo_login {
  height: 95px;
}


.background_what {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 0.8rem;
  width: 100%;
  align-items: center;
  /* background-color: rgba(225, 231, 233, 0.244); */
  color: rgb(29, 28, 28);
}

.background_what .title-L {
  color: rgba(214, 212, 208, 0);
  margin: 1.2rem 0;
  font-size: 1.7rem;
}



.background_what .input {
  margin: .6rem 0;
  padding: 1.4rem .5rem;
  width: 21rem;
  font-weight: 700;
  /* font-size: 14px; */
  letter-spacing: 1px;
  text-shadow: none;
  background-color: rgba(195, 218, 231, 0);
  color: rgb(49, 47, 47);
  border: none;
  margin: .7rem;
  outline: none;

  font-family: system-ui;


}

#rc-anchor-alert,
.rc-anchor-alert {
  display: none !important;
}

.grecaptcha-badge {
  visibility: hidden;
}

.form-L .error {
  padding: 5px;
  margin-top: 48px;
  margin-left: 13px;
}

.background_what .username {
  border-bottom: 2px solid rgb(1, 9, 32);
  transition: all 400ms;
  margin-bottom: 1.4rem;
}

.background_what .username:hover {
  background-color: #ffffff;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 4px 4px 1px rgb(141, 138, 138), -4px -4px 1px rgba(52, 150, 189, 0.965);
}

.background_what .password {
  border-bottom: 2px solid rgb(1, 9, 32);
  transition: all 400ms;
  margin-bottom: 1.4rem;

}

.background_what .password:hover {
  background-color: #ffffff;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 4px 4px 1px rgb(141, 138, 138), -4px -4px 1px rgba(52, 150, 189, 0.965);
}

.background_what .btnLogin {
  height: 2.8rem;
  width: 10rem;
  margin-top: 1.3rem;
  margin-left: 1rem;
  color: white;
  cursor: pointer;
  border-radius: 0.17rem;
  border: none;
  font-weight: 600;
  font-size: .8rem;
  letter-spacing: 2.9px;
  margin-bottom: 3.2rem!important;
  transition: all 400ms;
  border: 2px solid rgb(209, 209, 209);
}

.background_what .Licons {
  color: rgb(255, 255, 255);
  height: 30px;
  width: 30px;
}

.background_what .btnLogin:hover {
  background-color: #01343932 !important;
  border: 1px solid rgba(255, 255, 255, 0.385);
  outline: none;
  box-shadow: none;
  letter-spacing: 9px;
}

.span_sign_up {
  display: block;
  position: relative;
  font-family: system-ui;
  text-align: center;
  margin-top: 2rem;
  color: rgb(35, 35, 36);
  font-size: .8rem;
  font-weight: 500;

}

.link_signUp {
  color: rgb(14, 38, 220);
  font-size: 15px;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
}

.link_signUp:hover {
  color: rgba(4, 104, 87, 0.927);
}

@media screen and (max-width:1550px) {
  .containerL .form-L {
    width: 390px;
    height: 540px;

  }

  .logo_login {
    height: 90px;
  }


  .background_what .title-L {
    color: rgba(214, 212, 208, 0);
    margin: 1rem 0;
    font-size: 1.1rem;
  }



  .background_what .input {
    margin: .8rem 0;
    padding: 1.1rem .5rem;
    width: 18rem;
    font-weight: 600;
    /* font-size: 14px; */

  }

  .span_sign_up {
    font-size: .7rem!important;
    font-weight: 500 !important;
  
  }
  
  .link_signUp {

    font-size: 13px!important;

    font-weight: 600 !important;
  }
  
  .form-L .error {
    padding: 5px;
    margin-top: 40px;
    margin-left: 13px;
  }



  .background_what .password {

    margin-bottom: 1.2rem;
    ;
  }



  .background_what .btnLogin {
    height: 2.3rem;
    width: 8rem;
    margin-top: 1.3rem;
    margin-left: 1.9rem;
    margin-bottom: 3.5rem !important;

  }



  .span_sign_up {
    display: block;
    position: relative;
    /* margin: 3rem; */
    text-align: center;
    margin-top: 2rem;
    font-size: .9rem;
    font-weight: 200;

  }

  .link_signUp {
    color: rgb(88, 88, 243);
    font-size: 15px;
    cursor: pointer;
    text-decoration: underline;
    font-weight: 600;
  }

  .link_signUp:hover {
    color: rgba(6, 38, 55, 0.606);
  }

}