.whatsapp {
    display: flex;
    width: 100%;
    height: auto;
    overflow-y: auto;
    justify-content: center;
    margin-left: 170px;
}


.whatsapp .home {
    display: flex;
    padding-top: 30px;
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow-y: auto;
    color: #433e3ef0;
}



.whatsapp .container {
    width: 100%;
    margin: 25px 180px;
    margin-left: -140px;

}


.whatsapp .list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 67px;
    right: 2px;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
    /* margin-left: 50px; */
    width: 13vw;
    height: 2vh;
    border-radius: 4px;
    transition: height .6s ease;
    cursor: pointer;
    color: #323030e8;
    border-radius: 0px 0px 0px 13px;
    background: url('../img/blackbag.jpg')29% 38%/cover no-repeat;
    background: rgb(248 250 252 / 97%);
    box-shadow: 1px 1px 3px rgb(196, 193, 193), -1px -1px 3px rgb(192, 189, 189);
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.204);
    z-index: 1;

    .searchbar {
        display: none;
    }

    .title-I {
        display: none;
    }

    .features {
        display: none;
    }

}


.imgpreview{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    right: 150px;
    top: 264px;
    height: 300px;
    border-radius: 7px;
    /* border: 1px solid gainsboro; */
    box-shadow: inset -2px -2px 5px rgb(221, 221, 223) , inset 2px 2px 5px rgb(221, 221, 223);
    background-color: rgb(253, 255, 255);
    width: 400px;
}

.imgpreview  .opr{
    display: flex;
    margin: 4px;
    align-items: center;
    align-self: flex-end;
}

.imgpreview  .Licons{
    color: blue;
    font-size: 21px;
    margin: 4px 10px;
    cursor: pointer;
    transition: .3s ease;

}
.imgpreview  .Licons:hover{
    transform: scale(108%);
  }

.imgpreview .btnclose{
    font-size: 22px;
    transition: .3s ease;
    margin-right: 14px;
    cursor: pointer;
    color: rgb(229, 52, 52);
    font-weight: 600;

}

.imgpreview .btnclose:hover{
    transform: scale(108%);
    
}
.previewImg{
    height: 85%;
    border-radius: 6px;
    width: 94%;
}
.css-mh3zap {
    font-weight: 600 !important;
    color: #4e4f54 !important;
    font-size: 13px !important;
}

.whatsapp .list:hover {
    height: 50vh;
    width: 14vw;
    background: url('../img/blackbag.jpg') 90% 90%/cover no-repeat;
    background: rgb(248 250 252 / 97%);

    .searchbar {
        display: flex;
    }

    .title-I {
        display: flex;
    }

    .features {
        display: flex;
    }

    .select-I {
        display: none;
    }
}

.select-I {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11.8px !important;
    margin-top: -2px;
    /* padding-right: 40px; */
    margin-right: 30px;
    letter-spacing: 1.4px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: system-ui;
    color: #191919;

    .Licons {
        height: 23px;
        width: 23px;
        margin-right: 5px;
        color: rgb(22, 159, 222);
    }
}

.title-I {
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 11.8px !important;
    letter-spacing: 1.4px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: system-ui;
    color: #302e2e;
}

.whatsapp .list .features {
    overflow: auto;

}

.btnC {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(5, 150, 118);
    padding: 3px;
    border: none;
    margin: 6px;
    color: rgb(240, 240, 240);
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    height: 44px;
    width: 120px;
}


.btnC:hover {
    box-shadow: .1px .1px 5px rgba(60, 60, 60, 0.788);
    color: inherit;
    background-color: rgb(60 237 203 / 90%);
}


.searchbar {
    display: flex;
    justify-content: flex-start;
    height: 38px;
    width: 82%;
    border: 2px solid rgba(181, 178, 178, 0.884);
    align-items: center;
    border-radius: 3px;
    outline: none;
    /* background-color: white; */
    padding: 4px;
}

#sendBtn {
    margin-left: 16px;
    width: 100px;
}

.searchbar input {
    padding: 5px;
    color: rgb(86, 83, 83);
    border: none;
    background-color: transparent;
}

#search {
    border: none !important;
    outline: none;
    border-bottom: 1px solid #a19a9a;
}

.add {
    display: flex;
    flex-direction: column;
    margin: 6px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.add button {
    display: flex;
    height: 45px;
    border-radius: 8px;
    width: 82%;
    background-color: #0101ff06;
    align-items: center;
    justify-content: center;
    color: rgb(37, 172, 64);
    text-align: center;
    border: 1.8px dashed rgba(240, 240, 240, 0.557);
    font-size: 14.6px;
    font-weight: 600;
}

.add button:hover {
    cursor: pointer;
    box-shadow: .3px 0.3px 3px #5e5d5d, -0.3px -0.3px 4px #ffffff;
}

.list .iconL {
    font-size: 18px;
    margin: 6px 10px;
    margin-left: 14px;
    color: rgb(218, 208, 208);
}

.Licons {
    font-size: 26px;
    align-items: center;
    padding: 0px 4px;
    color: rgb(218, 208, 208);

}

.add .Rep {
    margin-right: 225px;
}

.list h3 {
    font-size: 12.5px;
    margin-left: 25px;

}


.features {
    width: 94%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid rgb(236, 233, 233);
    padding: 10px 5px;
    border-radius: 10px;
    background: white;

}


.list li {

    list-style: none;
    margin-top: 7px;


}

.list li a {
    display: flex;
    color: rgb(153, 153, 158);
    width: 88%;
    font-family: system-ui;
    letter-spacing: .5px;
    align-items: center;
    text-transform: capitalize;
    border-radius: 8px;
    text-decoration: none;
    margin: 2px 12px;
    height: 42px;

    padding: 2px;
    /* box-shadow: .1px .1px 1px rgb(142, 138, 138); */

}


.list li a.active {
    border-radius: 8px;
    font-weight: 600;
    color: rgb(44, 209, 105);
    box-shadow: .1px .1px 1px rgb(0, 0, 0);

    span {
        color: #15c2c5;
        font-family: system-ui;
        font-size: 10.5px;
    }

}

.list li a:hover {
    background-color: rgba(30, 31, 32, 0.043);
    border-radius: 8px;
}

.list .libox {
    display: flex;
    flex-direction: column;
}

.libox span {
    font-size: 9.5px;
    color: #909090;
}

.features .Licons {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.105);
    padding: 8px;
    margin: 0px 5px;
    border-radius: 8px;
    color: rgb(154, 149, 149);
    border: 1px solid rgba(207, 207, 212, 0.962);
}



/* //style for the Profile file  */
#contianerUser {
    display: flex;
    padding-right: 180px;


}

.selectA {
    background-color: rgb(255, 255, 255);
    outline: none;
    border: none;
    display: flex;
    width: 557px;
    height: 24px;
    margin-left: 15px;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 3rem 0.75rem 1rem;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 600;
    appearance: none;
    color: rgba(66, 63, 63, 0.764);
    border-radius: 9px;
    box-shadow: .1px .1px 3px rgba(204, 206, 206, 0.774);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

/* Add your global styles as needed */


.custom-dropdown {
    position: relative;
    width: 100%;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
}

.selected-option {
    padding: 8px;
}

.options {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;

}

.options li {
    padding: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.options li:hover {
    background-color: #edf0f5;
}



.userDetails {
    display: flex;
    width: 100%;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
    margin-top: 29px;
    border-radius: 8px;
    padding-left: 0px;

}

.filter {
    margin: 12px;
    margin-right: 0px;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 14.5px;
    color: gray;
    font-family: system-ui;
    font-weight: 600;
    /* background-color: rgb(255, 255, 255) !important; */
}

.filter .Main_btn {
    margin-bottom: 2px;
    margin-right: 40px;
    width: 110px;
    color: white;


}

.filter .Tactive {
    border-top: 2px solid rgb(68, 67, 69);
}

.filter .Licons_1 {
    font-size: 24px !important;
    color: rgb(74, 123, 222);
    margin-right: 18px;
    cursor: pointer;
    margin-bottom: 10px;
}

.filter .Licons_1:hover {
    font-size: 39px;
    color: #87879c;
    box-shadow: 1px 1px 2px;
}

.inputX {
    background-color: rgb(255, 255, 255) !important;
    border-radius: 4px;
    padding: 5px 23px;
    height: 28px;
    cursor: pointer;
    box-shadow: inset 1px 1px 4px rgb(206, 204, 204);
}







.userDetails img {
    height: 80px;
    box-shadow: .4px .4px 6px rgb(92, 90, 90), -.4px -.4px 6px rgb(110, 107, 107);
    border-radius: 100%;
    transition: 1.4s ease;
    margin-right: 30px;
}

.userDetails img:hover {
    transform: rotateY(180deg);
}

.userDetails .btnU {
    display: 'flex';
    height: 32px;
    align-items: center;
    padding: 8px;
    text-align: center;
    justify-content: center;
    background-color: rgb(5, 150, 118);
    border: 1px solid rgb(171, 169, 169);
    border-radius: 4px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
}

.userDetails .btnU:hover {
    box-shadow: .4px .4px 2px rgb(92, 90, 90), -.4px -.4px 2px rgb(110, 107, 107);
}



.userDetails button span {
    text-align: center;
}


/* //auto reaponder */


.stateA {
    margin-bottom: 32px;
}

.subContainer {
    border-radius: 9px;
    margin-top: 25px;
    background-color: #ffffff;
    padding: 8px 16px
}

.subContainer .card-title {
    padding: 0px;
    margin: 6.4px;
}

.hr {

    color: #f8e9e9;
    border: .41px solid rgba(184, 182, 182, 0.382);

}

.As-title {
    color: #0000008e;
    font-size: 15.5px;
    margin-top: 22px;
    letter-spacing: .2px;
}

.stateA {
    display: flex;
    align-items: center;


}

.stateA input[type='radio'] {

    height: 20px;
    cursor: pointer;
    margin-right: 9px;
    width: 20px;

}


.stateA label {
    margin: 9px;
    font-size: 13px;
    font-weight: 600;
    color: rgb(66 63 63 / 76%);

}

.btnAll {
    padding: 3px;
    background-color: white;
    border: 1px solid rgb(231, 226, 226);
    border-radius: 6px;
}

.btnU {
    height: 40px;
    border: none;
    padding: 14px;
    background-color: #ffffff;
    color: rgb(66 63 63 / 76%);
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.btnU:hover {
    color: #ffffff;
    background-color: rgb(20, 195, 84);

}

.btnC {
    padding: 18px;
    border-radius: 0px;
    background-color: rgb(5, 150, 118);
}

.editor {

    border-radius: 9px;
    padding: 16px;
    background-color: white;


}

.editor .btnAll {
    /* width: 97%;
    margin: 0px 8px; */
    border-radius: 0px;
    border-bottom: none;
    display: flex;



}

.editor .btnU {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: white;
}

.editor .btnU:hover {
    color: #595555;
    transform: scale(95%);
    /* background-color: #11a8ff; */
}

.editor .Licons {

    color: rgb(22, 242, 103);
    font-size: 17px;
}

.textarea {
    padding: 4px;
    border: none;
    width: 100%;
    margin: 0px 8px;

}

.edi {
    border: 1px solid rgb(224, 221, 221);
    border-radius: 6px;
    /* padding-bottom: 6px; */

}


.mediaA {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 9px;
    padding: 4px 16px;
    /* height: 40px; */
}

.mediaA .Licons {
    font-size: 17px;
    color: rgb(22, 242, 103);
}

.mediaA .btnU {
    display: flex;
    align-items: center;
    text-align: center;


}

.mediaA .btnU:hover {
    color: #595555;
    transform: scale(95%);
    background-color: white;
}


/* /////////////////////export -------------------- */

.export-container p {
    border-bottom: 1px solid rgb(238, 235, 235);

    padding-bottom: 19px;
    font-size: 16px;
    font-weight: 500;
    color: #88888d;

}


.reportArea {
    padding: 0px !important;
    border: 1px solid rgb(250, 249, 249);

}

.custom-row {
    font-size: 12.5px;
    font-family: system-ui;
    font-weight: 500;
}

.custom-row:hover {
    background-color: rgb(207, 207, 207) !important;
}

.MuiDataGrid-columnHeaders {
    color: rgb(0, 0, 0);
    font-size: 16px;
    /* background-color: rgba(14, 177, 106, 0.754); */
    box-shadow: inset .1px .1px 2px rgb(183, 181, 181);

}

/* .custom-row:nth-child(even) {
    background-color: #e3eef5;
} */


.sent-cell {
    padding: 6px;
    color: rgb(16, 164, 65);
}

.failed-cell {
    padding: 6px;
    color: red;
}

@media screen and (max-width: 1650px) {

    .whatsapp .list {
        top: 66px;
        right: 3px;
        padding: 5px;
        width: 13.4vw;
        height: 3.5vh;
        border-radius: 0px 0px 0px 10px;
    }

    .whatsapp .list:hover {
        height: 45vh;
        width: 13.4vw;
    }

    .select-I {
        font-size: 11.2px !important;
        margin-top: 1px;
        padding-right: 10px;
        margin-right: 3px;
        letter-spacing: 1px;

        .Licons {
            height: 20px;
            width: 20px;
            margin-right: 5px;
            color: rgb(22, 159, 222);
        }
    }

    .title-I {
        margin-bottom: 20px;
        margin-top: 14px;
        font-size: 10.3px !important;
        letter-spacing: 1.2px;
    }

    .searchbar {
        border: 1px solid rgba(217, 212, 212, 0.884);
        border-radius: 4px;
        padding: 3px;
    }



    .list .iconL {
        font-size: 14px;

        margin: 2px;
        margin-left: 7px;
        padding: 4px 8px;
        color: rgb(182, 177, 177) !important;

    }


    .features {
        width: 94%;
        border: 1px solid rgb(228, 226, 226);
        padding: 10px 5px;
    }


    .list li {
        list-style: none;
        margin-top: 2px;

    }

    .list li a {
        margin: 2px 10px;
        height: 42px;
        font-size: 13.6px;

    }


    .list li a.active {
        background-color: rgba(236, 240, 246, 0.711);
        border-radius: 8px;
        font-weight: 600;
        border: 1px solid rgb(243, 238, 238);
        color: rgb(51, 224, 106);
        box-shadow: .1px .1px 1px rgb(0, 0, 0);

        span {
            color: #15c2c5;
            font-family: system-ui;
            font-size: 11px;
        }

    }

    .list li a:hover {
        background-color: rgba(30, 31, 32, 0.043);
    }

}


@media screen and (max-width: 1350px) {

    .whatsapp .list {
        top: 62px;
        right: 3px;
        padding: 5px;
        width: 17vw;
        height: 4vh;
        border-radius: 0px 0px 0px 10px;
    }

    .whatsapp .list:hover {
        height: 45vh;
        width: 17vw;
    }

    .select-I {
        font-size: 10px !important;
        margin-top: 1px;
        padding-right: 10px;
        margin-right: 3px;
        letter-spacing: 1px;

        .Licons {
            height: 20px;
            width: 20px;
            margin-right: 5px;
            color: rgb(22, 159, 222);
        }
    }

    .title-I {
        margin-bottom: 20px;
        margin-top: 14px;
        font-size: 10.3px !important;
        letter-spacing: 1.2px;
    }

    .searchbar {
        border: 1px solid rgba(217, 212, 212, 0.884);
        border-radius: 4px;
        padding: 1px;
    }



    .list .iconL {
        font-size: 13px;
        margin-left: 4px;
        margin: 3px;
        padding: 4px 8px;
        color: rgb(182, 177, 177) !important;

    }


    .add .Rep {
        margin-right: 225px;
    }

    .list h3 {
        font-size: 12.5px;
        margin-left: 25px;

    }


    .features {
        width: 90%;
        border: 1px solid rgb(238, 236, 236);
        padding: 10px 5px;
    }


    .list li {
        list-style: none;
        margin-top: 2px;

    }

    .list li a {
        margin: 2px 10px;
        height: 40px;
        font-size: 13px;

    }


    .list li a.active {
        background-color: rgba(224, 227, 231, 0.043);
        border-radius: 8px;
        font-weight: 600;
        color: rgb(51, 224, 106);
        box-shadow: .5px .5px 1px rgb(181, 179, 179);

        span {
            color: #15c2c5;
            font-family: system-ui;
            font-size: 10px;
        }

    }

    .list li a:hover {
        background-color: rgba(30, 31, 32, 0.043);
    }

}



@media screen and (max-width: 1200px) {

    .whatsapp .list {
        top: 50px;
    }
}